In [1]:
print("Hello, World!")

Hello, World!

In [2]:
#This is a comment
print("Hello, World!")

Hello, World!

In [3]:
#Creating Variables
x = 5
y = "John"
print(x)
print(y)

5
John

In [4]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [7]:
#Casting 
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [8]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [10]:
a = 4
A = "Sally"
#A will not overwrite a 
print(a)
print(A)

4
Sally

In [12]:
#Many Values to Multiple Variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [15]:
#One Value to Multiple Variables
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [14]:
#Unpack a list:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [17]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [18]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [19]:
x = 5
y = 10
print(x + y)

15

In [21]:
x = 5
y = "John"
print(x, y)

5 John

In [23]:
#Global Variables
#Create a variable outside of a function, and use it inside the function
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [25]:
#Create a variable inside a function, with the same name as the global variable
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [27]:
#If you use the global keyword, the variable belongs to the global scope:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [28]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [29]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [32]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z)) 

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

In [33]:

#Convert from one type to another:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [35]:
import random

print(random.randrange(1, 10))

4

In [38]:
#Get the character at position 1 (remember that the first character has the position 0):
a = "Hello, World!"
print(a[1])

e

In [39]:
#Looping Through a String
for x in "banana":
  print(x)

b
a
n
a
n
a

In [40]:
#String Length
a = "Hello, World!"
print(len(a))

13

In [41]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [42]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [43]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [44]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [46]:
#Slicing
b = "Hello, World!"
print(b[2:5])

llo

In [47]:
#Slice From the Start
b = "Hello, World!"
print(b[:5])

Hello

In [48]:
#Slice To the End
b = "Hello, World!"
print(b[2:])

llo, World!

In [49]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [50]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [51]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [52]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [53]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [54]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [56]:
#String Concatenation
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [57]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [60]:
#F-Strings
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [61]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [62]:
#Display the price with 2 decimals:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [63]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [66]:
#Python - Escape Characters
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [67]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [68]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [69]:
print(bool("Hello"))
print(bool(15))

True
True

In [70]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [71]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [72]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [73]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [74]:
def myFunction() :
  return True

print(myFunction())

True

In [75]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [76]:
x = 200
print(isinstance(x, int))

True

In [78]:
print(10 + 5) 
print((6 + 3) - (6 + 3)) 
print(100 + 5 * 3) 
print(5 + 4 - 7 + 3)

15
0
115
5

In [79]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [80]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [81]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [85]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [86]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [87]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [88]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [89]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [90]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [91]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [92]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [93]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [94]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [95]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [96]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [97]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [98]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [99]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [101]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [102]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [103]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [104]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [105]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [106]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [107]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [108]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [109]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [110]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [113]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [114]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [115]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [116]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [117]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [118]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [120]:
#List Comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [121]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [123]:
#Only accept items that are not "apple":
newlist = [x for x in fruits if x != "apple"]

In [127]:
#With no if statement:
newlist = [x for x in fruits]

In [126]:
#Iterable
newlist = [x for x in range(10)]

In [128]:
#Accept only numbers lower than 5:
newlist = [x for x in range(10) if x < 5]

In [129]:
newlist = [x.upper() for x in fruits]

In [130]:
newlist = ['hello' for x in fruits]

In [132]:
#Return "orange" instead of "bana
newlist = [x if x != "banana" else "orange" for x in fruits]

In [133]:
#Sort List Alphanumerically
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [134]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [135]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [136]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [137]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [138]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [139]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [140]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [141]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [142]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

In [143]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [144]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [145]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]