In [2]:

for i in range(1, 21):  
    print(f'Multiplication Table for {i}:')  
    for j in range(1, 21): 
        print(f'{i} x {j} = {i * j}')
    print('-' * 20)

Multiplication Table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12
1 x 13 = 13
1 x 14 = 14
1 x 15 = 15
1 x 16 = 16
1 x 17 = 17
1 x 18 = 18
1 x 19 = 19
1 x 20 = 20
--------------------
Multiplication Table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
2 x 13 = 26
2 x 14 = 28
2 x 15 = 30
2 x 16 = 32
2 x 17 = 34
2 x 18 = 36
2 x 19 = 38
2 x 20 = 40
--------------------
Multiplication Table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
3 x 13 = 39
3 x 14 = 42
3 x 15 = 45
3 x 16 = 48
3 x 17 = 51
3 x 18 = 54
3 x 19 = 57
3 x 20 = 60
--------------------
Multiplication Table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
4 x 13 = 52
4 x 14 = 56
4 x 15 = 60
4 x 16 = 64
4 x 17 = 68
4 x 18 = 72
4 x 19 = 76
4 x 20 = 80
--------------------
Multiplication Table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
5 x 13 = 65
5 x 14 = 70
5 x 15 = 75
5 x 16 = 80
5 x 17 = 85
5 x 18 = 90
5 x 19 = 95
5 x 20 = 100
--------------------
Multiplication Table for 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72
6 x 13 = 78
6 x 14 = 84
6 x 15 = 90
6 x 16 = 96
6 x 17 = 102
6 x 18 = 108
6 x 19 = 114
6 x 20 = 120
--------------------
Multiplication Table for 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
7 x 13 = 91
7 x 14 = 98
7 x 15 = 105
7 x 16 = 112
7 x 17 = 119
7 x 18 = 126
7 x 19 = 133
7 x 20 = 140
--------------------
Multiplication Table for 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96
8 x 13 = 104
8 x 14 = 112
8 x 15 = 120
8 x 16 = 128
8 x 17 = 136
8 x 18 = 144
8 x 19 = 152
8 x 20 = 160
--------------------
Multiplication Table for 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
9 x 13 = 117
9 x 14 = 126
9 x 15 = 135
9 x 16 = 144
9 x 17 = 153
9 x 18 = 162
9 x 19 = 171
9 x 20 = 180
--------------------
Multiplication Table for 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120
10 x 13 = 130
10 x 14 = 140
10 x 15 = 150
10 x 16 = 160
10 x 17 = 170
10 x 18 = 180
10 x 19 = 190
10 x 20 = 200
--------------------
Multiplication Table for 11:
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
11 x 11 = 121
11 x 12 = 132
11 x 13 = 143
11 x 14 = 154
11 x 15 = 165
11 x 16 = 176
11 x 17 = 187
11 x 18 = 198
11 x 19 = 209
11 x 20 = 220
--------------------
Multiplication Table for 12:
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144
12 x 13 = 156
12 x 14 = 168
12 x 15 = 180
12 x 16 = 192
12 x 17 = 204
12 x 18 = 216
12 x 19 = 228
12 x 20 = 240
--------------------
Multiplication Table for 13:
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130
13 x 11 = 143
13 x 12 = 156
13 x 13 = 169
13 x 14 = 182
13 x 15 = 195
13 x 16 = 208
13 x 17 = 221
13 x 18 = 234
13 x 19 = 247
13 x 20 = 260
--------------------
Multiplication Table for 14:
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140
14 x 11 = 154
14 x 12 = 168
14 x 13 = 182
14 x 14 = 196
14 x 15 = 210
14 x 16 = 224
14 x 17 = 238
14 x 18 = 252
14 x 19 = 266
14 x 20 = 280
--------------------
Multiplication Table for 15:
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150
15 x 11 = 165
15 x 12 = 180
15 x 13 = 195
15 x 14 = 210
15 x 15 = 225
15 x 16 = 240
15 x 17 = 255
15 x 18 = 270
15 x 19 = 285
15 x 20 = 300
--------------------
Multiplication Table for 16:
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160
16 x 11 = 176
16 x 12 = 192
16 x 13 = 208
16 x 14 = 224
16 x 15 = 240
16 x 16 = 256
16 x 17 = 272
16 x 18 = 288
16 x 19 = 304
16 x 20 = 320
--------------------
Multiplication Table for 17:
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170
17 x 11 = 187
17 x 12 = 204
17 x 13 = 221
17 x 14 = 238
17 x 15 = 255
17 x 16 = 272
17 x 17 = 289
17 x 18 = 306
17 x 19 = 323
17 x 20 = 340
--------------------
Multiplication Table for 18:
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180
18 x 11 = 198
18 x 12 = 216
18 x 13 = 234
18 x 14 = 252
18 x 15 = 270
18 x 16 = 288
18 x 17 = 306
18 x 18 = 324
18 x 19 = 342
18 x 20 = 360
--------------------
Multiplication Table for 19:
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190
19 x 11 = 209
19 x 12 = 228
19 x 13 = 247
19 x 14 = 266
19 x 15 = 285
19 x 16 = 304
19 x 17 = 323
19 x 18 = 342
19 x 19 = 361
19 x 20 = 380
--------------------
Multiplication Table for 20:
20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200
20 x 11 = 220
20 x 12 = 240
20 x 13 = 260
20 x 14 = 280
20 x 15 = 300
20 x 16 = 320
20 x 17 = 340
20 x 18 = 360
20 x 19 = 380
20 x 20 = 400
--------------------

In [10]:

def is_palindrome(number):

    str_num = str(number)
    
    return str_num == str_num[::-1]


num = int(input("Enter a number: "))


if is_palindrome(num):
    print(f"{num} is a palindrome.")
else:
    print(f"{num} is not a palindrome.")

21 is not a palindrome.

In [11]:

def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True


num = int(input("Enter a number: "))


if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

33 is not a prime number.

In [12]:

sum_of_odds = 0


odd_number = 1


for i in range(20):
    sum_of_odds += odd_number 
    odd_number += 2  


print(f"The sum of the first 20 odd numbers is: {sum_of_odds}")

The sum of the first 20 odd numbers is: 400

In [13]:
# Python program to check if the number is an Armstrong number or not
# take input from the user
num = int(input("Enter a number: "))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

22 is not an Armstrong number

In [15]:
# Python program to find the factorial of a number provided by the user.

# change the value for a different result
#num = 7

# To take input from the user
num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 44 is 2658271574788448768043625811014615890319638528000000000

In [18]:
def perfect_cube(n):
    # Iterate from 1-N
    for i in range(1, n+1):
        # Find the cube of
        # every number
        cube = i ** 3

        # Check if cube equals
        # N or not
        if cube == n:
            return True
        elif cube > n:
            return False
    return False

# Driver code
n = 216
print("Yes" if perfect_cube(n) else "No")

Yes

In [1]:
# Total seconds
total_seconds = 98742160329

# Constants for time conversions
seconds_in_minute = 60
seconds_in_hour = 60 * seconds_in_minute
seconds_in_day = 24 * seconds_in_hour
seconds_in_year = 365 * seconds_in_day
seconds_in_month = 30 * seconds_in_day

# Calculate years
years = total_seconds // seconds_in_year
remaining_seconds = total_seconds % seconds_in_year

# Calculate months
months = remaining_seconds // seconds_in_month
remaining_seconds %= seconds_in_month

# Calculate days
days = remaining_seconds // seconds_in_day
remaining_seconds %= seconds_in_day

# Calculate hours
hours = remaining_seconds // seconds_in_hour
remaining_seconds %= seconds_in_hour

# Calculate minutes
minutes = remaining_seconds // seconds_in_minute

# Remaining seconds
seconds = remaining_seconds % seconds_in_minute

# Output results
years, months, days, hours, minutes, seconds

(3131, 1, 4, 1, 52, 9)

In [43]:
def calculate_tax(income, marital_status):
    # Tax brackets and rates
    if marital_status == "single":
        brackets = [500000, 700000, 1000000, 2000000, 5000000]
        rates = [0.01, 0.10, 0.20, 0.30, 0.36, 0.39]
    elif marital_status == "married":
        brackets = [600000, 800000, 1100000, 2000000, 5000000]
        rates = [0.01, 0.10, 0.20, 0.30, 0.36, 0.39]
    else:
        raise ValueError("Invalid marital status. Please enter 'single' or 'married'.")

    tax = 0
    previous_bracket = 0

    for i in range(len(brackets)):
        if income > brackets[i]:
            tax += (brackets[i] - previous_bracket) * rates[i]
            previous_bracket = brackets[i]
        else:
            tax += (income - previous_bracket) * rates[i]
            break
    else:
        tax += (income - previous_bracket) * rates[-1]

    return tax

# User input
marital_status = input("Enter marital status (single/married): ").lower()
income = float(input("Enter your annual income in NPR: "))

# Calculate tax
tax = calculate_tax(income, marital_status)

# Output result
print(f"The calculated tax for an {marital_status} person with an income of NPR {income} is NPR {tax:.2f}")

The calculated tax for an single person with an income of NPR 666.0 is NPR 6.66

In [9]:
name=(input("what is your name"))
address=(input("your address"))
age=int(input("your age"))
favcolor=(input("your fav color"))
favcity=(input("your fav city"))
favfood=(input("your fav food"))

print(f"hello {name} from {address} you are {age} your fav color is {favcolor} and you favcity is {favcity} and your favfood is {favfood}")

hello darpan from ktm you are 11 your fav color is red and you favcity is lodon and your favfood is momo

In [12]:
length=int(input("what is area of length"))
bredth=int(input("what is area of breath"))

area = length * bredth
print(f"area of lenght  {area} ")

area of lenght  363

In [14]:
Radius=int(input("radius of circle"))
pi = 3.14
area= pi*(Radius*Radius)
print(f"area of circle  {area} ")

area of circle  1519.76

In [18]:
for x in range (0, 11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [19]:
for x in range (0, 11, 3):
    print(x)

0
3
6
9

In [23]:
for x in range (20, 1, -1):
    print(x)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [31]:
for x in range (20, 31):
    for y in range(1, 11):
        print(f"{x} * {y} = {x*y}")
    print("-" * 20)

20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200
--------------------
21 * 1 = 21
21 * 2 = 42
21 * 3 = 63
21 * 4 = 84
21 * 5 = 105
21 * 6 = 126
21 * 7 = 147
21 * 8 = 168
21 * 9 = 189
21 * 10 = 210
--------------------
22 * 1 = 22
22 * 2 = 44
22 * 3 = 66
22 * 4 = 88
22 * 5 = 110
22 * 6 = 132
22 * 7 = 154
22 * 8 = 176
22 * 9 = 198
22 * 10 = 220
--------------------
23 * 1 = 23
23 * 2 = 46
23 * 3 = 69
23 * 4 = 92
23 * 5 = 115
23 * 6 = 138
23 * 7 = 161
23 * 8 = 184
23 * 9 = 207
23 * 10 = 230
--------------------
24 * 1 = 24
24 * 2 = 48
24 * 3 = 72
24 * 4 = 96
24 * 5 = 120
24 * 6 = 144
24 * 7 = 168
24 * 8 = 192
24 * 9 = 216
24 * 10 = 240
--------------------
25 * 1 = 25
25 * 2 = 50
25 * 3 = 75
25 * 4 = 100
25 * 5 = 125
25 * 6 = 150
25 * 7 = 175
25 * 8 = 200
25 * 9 = 225
25 * 10 = 250
--------------------
26 * 1 = 26
26 * 2 = 52
26 * 3 = 78
26 * 4 = 104
26 * 5 = 130
26 * 6 = 156
26 * 7 = 182
26 * 8 = 208
26 * 9 = 234
26 * 10 = 260
--------------------
27 * 1 = 27
27 * 2 = 54
27 * 3 = 81
27 * 4 = 108
27 * 5 = 135
27 * 6 = 162
27 * 7 = 189
27 * 8 = 216
27 * 9 = 243
27 * 10 = 270
--------------------
28 * 1 = 28
28 * 2 = 56
28 * 3 = 84
28 * 4 = 112
28 * 5 = 140
28 * 6 = 168
28 * 7 = 196
28 * 8 = 224
28 * 9 = 252
28 * 10 = 280
--------------------
29 * 1 = 29
29 * 2 = 58
29 * 3 = 87
29 * 4 = 116
29 * 5 = 145
29 * 6 = 174
29 * 7 = 203
29 * 8 = 232
29 * 9 = 261
29 * 10 = 290
--------------------
30 * 1 = 30
30 * 2 = 60
30 * 3 = 90
30 * 4 = 120
30 * 5 = 150
30 * 6 = 180
30 * 7 = 210
30 * 8 = 240
30 * 9 = 270
30 * 10 = 300
--------------------

In [34]:
length=int(input("give your area"))
Area=length*length
print(f"area of square is {Area}")

area of square is 443556

In [41]:
num = int(input ("Enter your num:"))

if (num % 2) == 0:
 print ("The number is even")

else:
  print ("The given number is odd")

The number is even

In [46]:
def calculate_square_area(side_length):
    return side_length ** 2

def sum_of_areas(areas):
    return sum(areas)

def separate_even_odd(numbers):
    even_numbers = [num for num in numbers if num % 2 == 0]
    odd_numbers = [num for num in numbers if num % 2 != 0]
    return even_numbers, odd_numbers

# Input: list of side lengths of squares
side_lengths = list(map(float, input("Enter the side lengths of squares separated by space: ").split()))

# Calculate areas
areas = [calculate_square_area(side) for side in side_lengths]

# Sum of areas
total_sum = sum_of_areas(areas)

# Separate even and odd sums
even_numbers, odd_numbers = separate_even_odd(areas)

# Output results
print(f"Areas of squares: {areas}")
print(f"Sum of areas: {total_sum}")
print(f"Even areas: {even_numbers}")
print(f"Odd areas: {odd_numbers}")

Areas of squares: [4.0, 25.0, 49.0]
Sum of areas: 78.0
Even areas: [4.0]
Odd areas: [25.0, 49.0]

In [50]:

mark=int(input("please enter your mark"))
if(mark>=90):
    print("Dist")
elif(mark>=70 < 80):
    print("firt Div")
elif(mark>=60 < 70):
    print("Second Div")
elif(mark>=50<60):
    print("third div")

else:
    print("you are fail")

Second Div

In [69]:
# User input
income = float(input("Enter your annual income in NPR: "))

# Define tax brackets and corresponding rates
brackets = [500000, 700000, 1000000, 2000000, 3000000, 5000000]
rates = [0.01, 0.10, 0.20, 0.30, 0.36, 0.40]

tax = 0
previous_bracket = 0

# Calculate tax based on the brackets and rates
for i, bracket in enumerate(brackets):
    if income > bracket:
        tax += (bracket - previous_bracket) * rates[i]
        previous_bracket = bracket
    else:
        tax += (income - previous_bracket) * rates[i]
        break
else:
    tax += (income - previous_bracket) * rates[-1]

# Output result
print(f"The calculated tax for an income of NPR {income} is NPR {tax:.2f}")

The calculated tax for an income of NPR 1080000.0 is NPR 109000.00

In [1]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [3]:
my_list = [1,2,3,4,5, "ram", 1, 3.1]
print(my_list)

[1, 2, 3, 4, 5, 'ram', 1, 3.1]

In [4]:
for i in my_list:
    print(i)

1
2
3
4
5
ram
1
3.1

In [5]:
print(my_list[2])

3

In [6]:
my_list = [1,2,3,4,5, "ram", 1, 3.1]
print(my_list)
my_list[2] = 11
print("modify", my_list)

[1, 2, 3, 4, 5, 'ram', 1, 3.1]
modify [1, 2, 11, 4, 5, 'ram', 1, 3.1]

In [7]:
my_list = [1,2,3,4,5, "ram", 1, 3.1]
print(my_list)
my_list.append(77)
print("modify", my_list)

[1, 2, 3, 4, 5, 'ram', 1, 3.1]
modify [1, 2, 3, 4, 5, 'ram', 1, 3.1, 77]

In [9]:
my_list = [1,2,3,4,5, "ram", 1, 3.1]
#print(my_list)
my_list.remove("ram")
print("modify", my_list)

modify [1, 2, 3, 4, 5, 1, 3.1]

In [10]:
my_list.insert(2, 100)
print("after insert", my_list)

after insert [1, 2, 100, 3, 4, 5, 1, 3.1]

In [12]:
my_list.pop()
print("last num remove ", my_list)

last num remove  [1, 2, 100, 3, 4, 5]

In [13]:
my_list.reverse()
print("last num remove ", my_list)

last num remove  [5, 4, 3, 100, 2, 1]

In [14]:
my_list.sort()
print("sorted list ", my_list)

last num remove  [1, 2, 3, 4, 5, 100]

In [24]:
print("first  two and fourth:", my_list[2:4])

first element: [3, 4]

In [21]:

print("first element ", my_list [:3])

last element  [1, 2, 3]

In [25]:

print("last element ", my_list [3:])

last element  [4, 5, 100]

In [28]:

print("last  ", my_list [-2])

last   5

In [58]:
#tupple
my_tuple = (1, 2, 3, 4, 5, 6)
print(my_tuple)

(1, 2, 3, 4, 5, 6)
1

In [31]:
#tupple index
my_tuple = (1, 2, 3, 4, 5, 6)
print(my_tuple[2])

3

In [40]:
#tupple min
print(min(my_tuple))

1

In [41]:
#tupple max
print(max(my_tuple))

6

In [42]:
tuple_str = str (my_tuple)
print(tuple_str)

(1, 2, 3, 4, 5, 6)

In [43]:
tuple_to_lsit = list (my_tuple)
print(tuple_str)

(1, 2, 3, 4, 5, 6)

In [45]:
print(len(my_tuple))

6

In [46]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [48]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [49]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [50]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [51]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [52]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [53]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [54]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [55]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [56]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [57]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [60]:
my_dict = {"a": 1, "b":5, "c": 77, "d": 99}
print(my_dict)

{'a': 1, 'b': 5, 'c': 77, 'd': 99}

In [61]:
print(my_dict["a"])

1

In [62]:
print(my_dict.get("b"))

5

In [64]:
my_dict["e"] = 100
my_dict["b"] = 33
print(my_dict)

{'a': 1, 'b': 33, 'c': 77, 'd': 99, 'e': 100, 'f': 33}

In [65]:
popped_value = my_dict.pop("b")
print(popped_value)

33

In [67]:
print(len(my_dict))

5

In [68]:
print(my_dict.keys())

dict_keys(['a', 'c', 'd', 'e', 'f'])

In [69]:
print(my_dict.values())
print(my_dict.items())

dict_values([1, 77, 99, 100, 33])
dict_items([('a', 1), ('c', 77), ('d', 99), ('e', 100), ('f', 33)])

In [70]:
for varr in my_dict:
    print(varr)

a
c
d
e
f

In [75]:
for varr,val in my_dict.items():
    print(varr,val)

a 1
c 77
d 99
e 100
f 33

In [76]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [77]:
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [86]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
x = thisdict.get("model")

In [87]:
print(x)

Mustang

In [1]:
def prime(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False 

    for number in range(2, limit + 1):
        if is_prime[number]:
            primes.append(number)
            for multiple in range(number * number, limit + 1, number):
                is_prime[multiple] = False

    return primes


limit = 250
prime_numbers = prime(limit)
print(f"Prime numbers between 1 and {limit}:")
print(prime_numbers)

Prime numbers between 1 and 250:
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241]